.header 
	vertical-align: center
	align-items: center
	background-color: #1f1926
	position: fixed
	z-index: 1000
	padding: 0 15px
	width: 100%
	height: 100px
	background-color: #000

	&_logo
		width: 40px
	&_wrapper
		max-width: 1170px
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
	

