.firstScreen
	display: flex
	align-items: center
	height: 768px
	margin: 0 auto
	position: relative
	&_wrapper
		background: url(/images/main.png) center center no-repeat
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: auto
		background-size: cover
		background-repeat: no-repeat
		width: calc(50% + 60px)
		animation-name: fadeIn
	&_block
		margin-left: auto
		width: 585px
		font-family: SFUIDisplay-Regular, sans-serif
	&_wrapper_block
		width: 50%


	&_title
		font-size: 36px
		margin-top: 20px
		font-weight: 400
	&_subtitle
		color: #74757f
		// font-weight: 300
		letter-spacing: .03em
		font-size: 16px
		line-height: 1.5
		max-width: 470px

	&_span
		color: #ff0000
		margin: 0 auto
		font-weight: 700
	&_button
		color: #fff
		background-color: #ff0000
		margin-top: 40px
		font-size: 16px
		padding: 16px 55px
		border: none
		border-radius: 6px
		line-height: 1.5
		font-family: 'OSWALD-MEDIUM'
		letter-spacing: 0.2em
		&:hover
			background-color: #ac0909
			border-color: #ac0909
			// transition: 0.25s cubic-bezier(0.2, 1, 0.3, 1)
		& span
			&:hover
				transition: transform 0.3s
	&_line
		width: 70px
		height: 2px
		background-color: #ff0000

  
